<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
            <exclude>tests/Billing/E2ETest.php</exclude>
        </testsuite>
        <testsuite name="E2E">
            <file>tests/Billing/E2ETest.php</file>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>e2e</group>
        </exclude>
    </groups>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
